<%- include('header'); -%>
    <div class="content">
    <div class="day">
      <h1><%= listTitle %></h1>
    </div>
    <div class="boxes">
      <ul>
        <%for(let data of newListItem){%>
          <form action="/delete" method="POST">
            <li>
              <input type="checkbox" name="checkbox" value="<%=data._id%>" onchange="this.form.submit()">
              <p><%= data.name %></p>
            </li>
          </form>
        <%}%>
      </ul>
      <form class="newItem" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New item" autocomplete="off"/>
        <button type="submit" name="list"><a>+</a></button>
      </form>
    </div>
  </div>
  <%- include('footer'); -%>